/*Colours*/
$white : #ffffff;
$black : #000000;
$red :   #ff0000;

/*fonts*/
$base-font--1 : 'Open Sans', sans-serif;
$base-font--2 : 'Pangolin', cursive;
$base-font--3 : 'Zilla Slab Highlight', sans-serif;
