/*Colours*/
$white : #ffffff;
$black : #000000;
$red :   #cc0000;
$yellow : #f9b40f;
$yellow--light : #fdc321;



// $blue--light : #;
$pink : #f7656f;
$pink--light: #ff367a;
$pink--dark: #9c1a60;
$green : #b9d239;
$blue : #03c4fd;
$aqua : #51c2be;
$aqua--dark : #37a9a1;
$green--aqua : #599387;
$lilac : #b5a9cf;
$orange--light : #ffac00;
$orange : #c88638;
$orange--dark : #ff3500;
$brown: #8f4a23;
$brown--light: #f2b385;

/*fonts*/
$base-font--1 : 'Open Sans', sans-serif;
$base-font--2 : 'Pangolin', cursive;
$base-font--3 : 'Zilla Slab Highlight', sans-serif;
