html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "iconfont";
	src: url("../fonts/iconfont.eot");
	src: url("../fonts/iconfont.eot?#iefix") format("eot"),url("../fonts/iconfont.woff") format("woff"),url("../fonts/iconfont.ttf") format("truetype");
}

.iconfont-basket:before,
.iconfont-check:before,
.iconfont-ico-menu:before {
	font-family: "iconfont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.iconfont-basket:before {
	content: "";
}

.iconfont-check:before {
	content: "";
}

.iconfont-ico-menu:before {
	content: "";
}

body {
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 24px;
	font-family: "Pangolin",cursive;
	margin-bottom: 15px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Pangolin",cursive;
	margin-bottom: 5px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.counter {
	font-family: "Zilla Slab Highlight",sans-serif;
}

.to-top {
	font-family: "Pangolin",cursive;
	position: absolute;
	right: 5%;
	top: 0;
	cursor: pointer;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.to-top span:first-of-type {
	opacity: 0;
}

.to-top span:nth-of-type(2) {
	font-family: "Open Sans",sans-serif;
}

.counter {
	height: 65px;
	width: 166px;
	background: #000;
	border: 3px solid #fff;
	color: #fff;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
	font-size: 40px;
	letter-spacing: 3px;
	text-align: center;
	padding-top: 9px;
	margin: 10px;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	background: #f9b40f;
	color: #fff;
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 20px;
}

footer {
	padding: 20px;
}

section {
	max-width: 850px;
	margin: 0 auto;
	display: block;
	margin-bottom: 50px;
	position: relative;
}

header {
	padding: 20px;
	text-align: center;
}

header h1 {
	display: block;
	margin: 0 auto 40px;
}

header .counter {
	margin: 10px auto 30px;
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 850px;
	margin: 0 auto;
}

nav li {
	margin: 5px;
	background: rgba(255,255,255,0.2);
	padding: 2px 5px;
}

nav li:hover {
	background: rgba(255,255,255,0.4);
}

nav li a {
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

footer p {
	margin-bottom: 5px;
}

footer a {
	color: #fff;
}

.card-type {
	font-family: "Pangolin", cursive;
	font-size: 12px;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	width: 100%;
}

.cards li {
	opacity: 0.5;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 5px;
	display: block;
	padding: 10px;
	position: relative;
	width: 120px;
	height: 180px;
}

.cards li:before {
	content: '';
	width: 100%;
	height: 55%;
	top: 28%;
	left: 0;
	display: block;
	position: absolute;
	background: #fff;
}

.cards .owned {
	opacity: 1;
	border: none;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.cards .owned:hover {
	-webkit-animation: wiggle 1s;
	animation: wiggle 1s;
}

.cards .owned:after {
	content: 'Heb ik!';
	color: #000000;
	font-family: "Pangolin", cursive;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-30deg);
	transform: translate(-50%, -50%) rotate(-30deg);
	font-size: 15px;
}

.inpakken .cards .owned {
	background-color: #9c1a60;
}

.vliegen .cards .owned {
	background-color: #ff367a;
}

.china .cards .owned {
	background-color: #c00;
}

.zuidpool .cards .owned {
	background-color: #fff;
	color: #599387;
}

.zuidpool .cards .owned:before {
	border-top: 2px solid rgba(89,147,135,0.3);
	border-bottom: 2px solid rgba(89,147,135,0.3);
}

.madagaskar .cards .owned {
	background-color: #37a9a1;
}

.trein .cards .owned {
	background-color: #b9d239;
}

.egypte .cards .owned {
	background-color: #8f4a23;
}

.galapagos .cards .owned {
	background-color: #ffac00;
}

.onderwaterwereld .cards .owned {
	background-color: #03c4fd;
}

.peru .cards .owned {
	background-color: #ff367a;
}

.rockymountains .cards .owned {
	background-color: #ff3500;
}

.india .cards .owned {
	background-color: #b5a9cf;
}

.varen .cards .owned {
	background-color: #51c2be;
}

.nederland .cards .owned {
	background-color: #c88638;
}

.survival .cards .owned {
	background-color: #f2b385;
}

.wereldkaart .cards .owned {
	background-color: #f7656f;
}

@media screen and (min-width: 767px) {

h1 {
	font-size: 48px;
}

.to-top span:first-of-type {
	opacity: 1;
}

.card-type {
	font-size: 23px;
}

.cards li {
	width: 200px;
	height: 300px;
}

.cards .owned:after {
	font-size: 24px;
}

}

@-webkit-keyframes wiggle {

0% {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

25% {
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

50% {
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}

75% {
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

100% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

}

@keyframes wiggle {

0% {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

25% {
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

50% {
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}

75% {
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

100% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

}

