* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $yellow;
  color: $white;
}
.main {
  display: flex;
  flex: 1;
  padding: 20px;
}
footer {
  padding: 20px;
}
section {
  max-width: 850px;
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
  position: relative;
}
