.counter {
  height: 65px;
  width: 166px;
  background: $black;
  border: 3px solid $white;
  color: $white;
  box-shadow: 3px 3px 3px rgba($black, 0.8);
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 9px;
}
